@import '../../common/styles/variables';

.headline {
  font-family: $font;
  font-size: calculateRem(17);
  margin-left: calculateRem(15);
  margin-bottom: calculateRem(10);
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(90%);
  // grid-template-rows: 1fr 1fr 1fr;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  @media (min-width: $desktop) {
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    overflow-x: hidden;
  }

  @media (min-width: 970px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1300px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
