@import '../../common/styles/variables';

.headline {
  font-family: $font;
  font-size: calculateRem(17);
  margin-left: calculateRem(15);
  margin-bottom: calculateRem(10);
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: calculateRem(20);
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  @media (min-width: $desktop) {
    // grid-auto-flow: row;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: unset;
    overflow-x: hidden;
  }

  @media (min-width: 970px) {
    grid-template-columns: unset;
    grid-template-rows: repeat(4, 1fr);
  }

  @media (min-width: 1300px) {
    grid-template-columns: unset;
    grid-template-rows: repeat(4, 1fr);
  }
}
